files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDqDCCApACCQDBfxfKGE4o6jANBgkqhkiG9w0BAQsFADCBlTELMAkGA1UEBhMC
      VVMxDTALBgNVBAgMBFV0YWgxFzAVBgNVBAcMDlNhbHQgTGFrZSBDaXR5MRwwGgYD
      VQQKDBNEZWZhdWx0IENvbXBhbnkgTHRkMRgwFgYDVQQDDA9yZWRwYW5kYS5ldmVu
      dHMxJjAkBgkqhkiG9w0BCQEWF2VkdWFyZG9AcmVkcGFuZGEuZXZlbnRzMB4XDTIw
      MDQzMDIxMDQxMVoXDTIxMDQzMDIxMDQxMVowgZUxCzAJBgNVBAYTAlVTMQ0wCwYD
      VQQIDARVdGFoMRcwFQYDVQQHDA5TYWx0IExha2UgQ2l0eTEcMBoGA1UECgwTRGVm
      YXVsdCBDb21wYW55IEx0ZDEYMBYGA1UEAwwPcmVkcGFuZGEuZXZlbnRzMSYwJAYJ
      KoZIhvcNAQkBFhdlZHVhcmRvQHJlZHBhbmRhLmV2ZW50czCCASIwDQYJKoZIhvcN
      AQEBBQADggEPADCCAQoCggEBAMOlFMc439xQEhcqJ115eYDJyZ34f6Luw+e/lTIr
      tiJwaF2FrdRorrDuPSilL8/Sf9WzYWS+CY2D0w2PUwnrNCAx4JYpfhkNqy/+Y3h0
      D5f8umU8Gu0smij/RTldjPA75ORl8O7DJIUPwqH8NsYe1te6FpTO8YwjOFNsuAL4
      vwlHQFxHstsf5SFeyun18xAcyJCnE8cXtj45zTGXoghsPTdYEQO8A72OMvqIUFEu
      09Vlmyg7bHOZ2w7CoaGbzcgXEsaV53tJJBDEjJPf5T9zfFRxVH7xlub0FG9yxLfT
      gGXULB61ihrwzAsylbs/dPf6JAjOkf8zPN1FO2HptOaNKX8CAwEAATANBgkqhkiG
      9w0BAQsFAAOCAQEAGNKj5pRpRUXVKZ9Bnd4I0cqYnFZifhrLkKufAHa4cCsozVoW
      K9lTRj+r0m/gHK8Jw/xRgyZBHFrBjLcpp248cam5Fv3HnNoTDSqKfAVXCGni12mt
      xr1/CbFKRAZ1SC5TZV0utIh0AS8NDyFBTfTILbc7YVYLKPRxs8QUgg2LVNCEJC/U
      v6y9T8SYqWRrKV8ryH8bt/8fcl0PdI0ev4WLxaQWbtwBTBQqw5W+mG32X0MUU1AL
      bUs4V3yBlvWHneXGI+fIja8FZL/nb/8YC8PwIiGOTop8//+I1zQR4DTPIz2d2xOz
      4sveNy6V9fEoTIofnD+rD4jrrevkny7Ih76Xpw==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAw6UUxzjf3FASFyonXXl5gMnJnfh/ou7D57+VMiu2InBoXYWt
      1GiusO49KKUvz9J/1bNhZL4JjYPTDY9TCes0IDHglil+GQ2rL/5jeHQPl/y6ZTwa
      7SyaKP9FOV2M8Dvk5GXw7sMkhQ/Cofw2xh7W17oWlM7xjCM4U2y4Avi/CUdAXEey
      2x/lIV7K6fXzEBzIkKcTxxe2PjnNMZeiCGw9N1gRA7wDvY4y+ohQUS7T1WWbKDts
      c5nbDsKhoZvNyBcSxpXne0kkEMSMk9/lP3N8VHFUfvGW5vQUb3LEt9OAZdQsHrWK
      GvDMCzKVuz909/okCM6R/zM83UU7Yem05o0pfwIDAQABAoIBAQC4DZdsjG7dPl6m
      eDusTlkl9a+880hwKZsXbD6ZglHIOGOWh+ouh4TAYoAaurwuEOO+URDwy28FONzW
      Rt1h2WmiWAnmeoZsX1WKwxElAlqhK1rXXiIeufUVWIDxJLcwUchVrilpFSBIJbl+
      1l1ZKS4IqMIRoFXQ9llI8mByOzzNJhujk2s7ovlCkjWwD0SExj0P4IjeMljS4Jfe
      M0l/9DPr9exU/HnjN0Kp9fnFciJYqbvLLYQfoHwxNI5ET1P0d+JhLaEyC9fxb/Mx
      uVWxZRNBnXUvR4w+LRxO0tVsxcQ2+7690G2K0uQDyyzkLzch5Ca8s2rl3EGnRvdW
      ZFplSGkBAoGBAOKHCd0eRlognHzQuyJTyvFEltpKn+w8vnYKdYI7DtNG4Yxz20wo
      pSwksk3NO/6yBuZOqvZ/ECx7UPXi1bv83TEuTAa+yrvlSMYfyRt/kI/bmiV53y1s
      GCyM1UAJ+TbiM0ABB+zHGTLcJSRjr15suuvIR+x5aVCdtBtq+qb+FdK/AoGBAN0Z
      btX7gXRTVPn5SXqCwjmpkHupNyBw+I0cktdZceScgYt774DugHMlBi9P0nq9ykNk
      KND7wHeE3d8HlqRVlAWl8OUDsQOXAEk5bsrVm4lMRJDmm7o3bg2WZqiH56c1rv/b
      ephOc2kXEp8xfrfT2vmAGpdd2Rr2aSlXyhaQEhlBAoGAaK+9iDmoi5hMmYYhJXER
      9cQb7w/Trmo4HvcgbSn75Pn53F3id+TEyIzA9iGl20PM2nx6l+YKxHPM64WD/xeR
      5Vue+PMNYB5LLnycBSBD36e+KhmTYTt2RIhlOO4jBREuXCLd1bgBVjbU12dWMU4Q
      aEyrqIZHfGEVTiJ3ads8nKMCgYBroFvBsiI8G+x7movYJRqisxXv/FknY5a6KjSY
      u6OjY0P0QCpAGtlQM6+lDDgrI4P39iOgR0xTYcwXKzx7VmUtsq9m67sZQkITYu+5
      sO17kjK2Tmtz5FOgLZxfYXi0fn9ncNFmnpmziFW6RH+owGoRlfhbwoVSiKx8QY3Q
      GeWVgQKBgQCll0rg+7iJTMRC8cnhmdU8WsuRFGNgf8ZX6l0TgPUu/13mbqiQfT31
      q0aXr2N+yNxZyp1Yj+mXOdzdyd/gSzlHgKvhgrveLJs7eVu7/UKZE3EyE4+gu8DZ
      znxr8HK4fNozjjvnD0YrXGYSShLFStY2owBF6aSCrfF+78RWuBEklw==
      -----END RSA PRIVATE KEY-----